.tooltip {
  position: relative;
}

.tooltip:before {
  content: attr(data-tip);
  border-radius: 4px;
  background-color: #326ff3;
  padding: 4px 6px;
  color: white;
  position: absolute;
  top: calc(100% + 4px);
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in;
  transition-delay: 2s;
  opacity: 0;
  display: none;
  white-space: pre;
  font-size: 0.9em;
  word-wrap: break-word;
  text-align: center;
  width: auto;
  max-width: 360px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.tooltip:after {
  position: absolute;
  z-index: 1000001;
  display: none;
  width: 0;
  height: 0;
  color: #326ff3;
  pointer-events: none;
  content: '';
  border: 5px solid transparent;
  top: auto;
  right: 50%;
  bottom: -5px;
  margin-right: -5px;
  border-bottom-color: #326ff3;
}

.tooltip:hover:before,
.tooltip:hover:after {
  opacity: 1;
  display: block;
}
